<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Stock control</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/bootstrap.min.css}" />
<style>
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
</head>
<body>

	<div class="container">

		<div class="row">
			<div class="col-md-20 col-center-block">
				<table class="table  table-striped">
					<thead>
						<tr>
							<th>文件名称</th>
							<th>文件类型</th>
							<th>文件状态</th>
							<th>上传时间</th>
							<th>错误信息</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="fileinfo,fileStatus : ${fileInfos}" th:if="${fileStatus.index le 10}">
							<td><span th:text="${fileinfo.name}"> name </span></td>
							<td><span th:text="${fileinfo.fileType}"> fileType</span></td>
							<td><span th:text="${fileinfo.status}">status </span></td>
							<td><span th:text="${fileinfo.date}"> date </span></td>
							<td><span th:text="${fileinfo.log}"> log </span></td>

						</tr>
					</tbody>
				</table>
				
				<a class="btn btn-success" href="#" th:href="@{/upload}"> 上传文件 </a>
			</div>
		</div>
	</div>
</body>
</html>
